* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

h1 > span:first-child {
	color: white;
	font-weight: 300;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

section > .container {
	margin: 90px auto;
}

/* -----clearfix-----*/
.row:before,
.row:after {
	content: "";
	display: table;
	clear: both;
}
/*-------------------*/

.center {
	text-align: center;
}

.left {
	text-align: left;
	margin-left: -20px;
}

header {
	background-color: #313234;
	height: 55px;
}

/*--- navigation ---*/
header > nav > ul{
	float: right;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

header > nav > ul > li {
	line-height: 50px;
	display: inline-block;
}

header > nav > ul > li > a{
	padding: 0 20px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	transition: .3s;
}

nav > ul > li > a:hover {
	color: #00C7E8;
	transform: scale(1.1);
}

header > nav > img {
	padding: 5px 0;
}

/*--- hero ---*/
.hero {
	width: 100%;
	height: 60vh;
	text-align: center;
	background-image: url("https://static.pexels.com/photos/247932/pexels-photo-247932.jpeg");
	background-size: cover;
	background-position: 0 44%;
	overflow: hidden;
	/*background-attachment: fixed;	*/
}

.slogan {
	max-width: 800px;
	background-color: rgba(0, 0, 0, 0.6);
	float: right;
	text-transform: uppercase;
	font-size: 2em;
	line-height: 1.5em;
	text-align: left;
	padding: 0 40px;
	color: white;
	margin-top: 20vh;
}

section span, ul span, div span {
	display: block;
}

/*--- benefits ---*/
.box i  {
	line-height: 180px;
	margin: 0 auto;
	width: 180px;
	height: 180px;
	text-decoration: none;
	background-color: #313234;
	border-radius: 20%;
	font-size: 6rem;
	color: white;
	transition: ease-in-out 0.3s;
}

.box h2 {
	transition: .2s;
}

.box:hover i {
	color: white;
	background-color: #00C7E8; 
}

.box:hover h2 {
	color: #00C7E8;
}

.benefits p {
	padding: 0 35px;
	color: lightgrey;
	line-height: 1.6em;
	font-weight: 400;
}

.benefits h2 {
	text-transform: uppercase;
}

/*--- featured ---*/
.featured h2 {
	text-transform: uppercase;
	font-size: 3em;
	margin: 20px 0 0 0;
}

.featured p {
	color: rgb(128,128,128);
	margin: 10px 130px 0 130px;
}

/*--- gallery ---*/
.gallery img {
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	object-fit: cover;
	height: 35vh;
}

.gallery [class *='col-'] {
	padding: 0;

}
.layer {
	width: inherit;
	position: absolute;
	z-index: 2;
	height: 35vh;
	line-height: 35vh;
	text-align: center;
	transition: .2s;
}
.layer i.fa {
	color: black;
	background-color: white;
	visibility: hidden;
	font-size: 1.5em;
	padding: 20px;
	border-radius: 25%;
	transition: .1s;
}

/*--- workers ---*/
.workers {
	text-align: center;
	width: 100%;
	display: block;
	margin: 0 auto;
}

.mask img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	display: block;
	overflow: hidden;
	object-fit: cover;
}

.mask {
	position: relative;
	width: 200px;
	height: 200px;
	margin: 0 auto;
	border-radius: 50%;
}

.mask a {
	display: block;
	border-radius: 50%;
}

/* --- promo ---*/
.promo {
	background-color: rgb(128,128,128);
	color: white;
	height: auto;
	padding-bottom: 20px;
}

.promo [class *='col-'] {
	margin-bottom: -60px;
	min-height: 30px;
}

.promo h2 {
	text-transform: uppercase;
	font-size: 3em;
	color: white;
	padding:0; 
}

.promo img {
	height: auto;

	width: 100%;
	margin-top: 61px;
	max-width: 350px;
}

/*--- numbers ---*/
.numbers {
	min-height: 280px;
	margin-top: -80px;
}

.numbers  h3 {
	font-family: 'Alfa Slab One', cursive;
	font-size: 3.5em;
	text-align: center;
	text-transform: capitalize;
}

.numbers p {
	color: #00C7E8;
	text-align: center;
	font-weight: bold;
	margin-top: -50px;
	text-transform: uppercase;
}

/*--- footer ---*/
footer {
	width: inherit;
	background-color: #313234;
	color: white;
	height: auto;
}

footer ul {
	margin-top: -25px;
	padding: 0px;
	list-style-type: none;
}

footer ul li {
	padding: 10px;
}

footer h2 {
	text-transform: uppercase;
}

footer i.fa {
	font-size: 2em;
	line-height: 1.45em;
	background-color: #00C7E8;
	width: 1.45em;
	height: 1.45em;
	text-align: center;
	margin: 5px;
	transition: .2s;
	cursor: pointer;
}

footer i.fa:hover{
	background-color: white;
	color: #00C7E8;
}

footer [class*='col-']{
	padding: 20px;
	min-height: 20px;
}

.copyright {
	color: white;
	background-color: #212223;
	font-size: 0.9em;
}
.line:after {
	position:absolute;
	width: 8vw;
	height: 2px;
	margin: 15px 15px;
	background-color: white;
	content: "";
}

/* --- column widths ---*/
[class*='col-'] {
	float: left;
	width: 100%;
	padding: 12px;	
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.66%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}

.col-8 {
	width: 66.66%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.66%;
}

.col-12 {
	width: 100%;
}


/*--- column offset ---*/

.col-offset-1 {
	margin-left: 8.33%;
}

.col-offset-2 {
	margin-left: 16.66%;
}

.col-offset-3 {
	margin-left: 25%;
}

.col-offset-4 {
	margin-left: 33.33%;
}

.col-offset-5 {
	margin-left: 41.66%;
}

.col-offset-6 {
	margin-left: 50%;
}

.col-offset-7 {
	margin-left: 58.33%;
}

.col-offset-8 {
	margin-left: 66.66%;
}

.col-offset-9 {
	margin-left: 75%;
}

.col-offset-10 {
	margin-left: 83.33%;
}

.col-offset-11 {
	margin-left: 91.66%;
}

.col-offset-12 {
	margin-left: 100%;
}

/*---------------------------------*/

@media (max-width: 767px) {
	 /* For tablets: */ 
	
	/*--- navigation ---*/
	header {
		background-color: #313234;
		height: auto;
		margin: 0;
	}
	
	ul {
		margin: 0 auto;
		text-align: center;
	}
	
	header > nav > ul{
		float: none;
		list-style-type: none;
		padding: 0;
		height: 100%;
		border-top: 1px solid grey;
	}

	header > nav > ul > li {
		line-height: 50px;
		border-top: 1px dashed grey;
	}

	header > nav >ul >li:first-child {
		border-top: 0 dashed grey;
	}

	header > nav > ul > li > a{
		text-align: center;
		display: block;
      	padding: 15px;
    	width: 80vw;
		text-decoration: none;
		text-transform: uppercase;
		transition: .2s;
		font-size: 1.2em;
	}

	/*------ logo --------*/
	header > nav > img {
		padding: 25px;
		margin: 0 auto;
		display: block;	
	}
	
	/*--- hero ---*/
	.hero {
		width: 100%;
		height: auto;
		padding-bottom:10vw;
		text-align: center;
		background-image: url("https://static.pexels.com/photos/247932/pexels-photo-247932.jpeg");
		background-size: cover;
		background-position: 0 44%;
		overflow: hidden;
	}

	.slogan {
		max-width: 80vw;
		font-size: 4vw;
		line-height: 6.5vw;
	}
	
	/*--- featured ---*/
	.featured h2 {
		margin: 0;
	}
	.featured p {
		margin: 10px 30px 0 30px;
	}
	
	/*------- gallery------------*/
	.layer i.fa {
		background-color: rgba(255, 255, 255, 0.6);
		visibility: visible;
		margin-top:20px;
		font-size: 1.7em;
		padding: 20px;		
	}
	
	/*-----workers--------*/
	.mask p {
		width: 100%;
		visibility: visible;
		color:  black;
		font-size: 1.2em;
		position: absolute;
		top:220px;
	}
	.mask a {
		cursor: default;	
	}
	
	/*----- promo-------*/
	.promo {
		background-color: rgb(128,128,128);
		color: white;
		padding-bottom: 20px;
	}
	.promo p {
		width: 100%;	
	}
	.promo h2 {
		margin: 40px 10px 30px 0;
		line-height: 1.2em;
	}
	.promo img {
		display: block;
		width: 100%;
	}
	
	/*---- footer------*/
	footer {	
		background-color: #313234;
		color: white;
		height: auto;	
	}
	
	.col-s-1 {
		width: 8.33%;
	} 
	.col-s-2 {
		width: 16.66%;
	} 
	.col-s-3 {
		width: 25%;
	} 
	.col-s-4 {
		width: 33.33%;
	} 
	.col-s-5 {
		width: 41.66%;
	} 
	.col-s-6 {
		width: 50%;
	} 
	.col-s-7 {
		width: 58.33%;
	} 
	.col-s-8 {
		width: 66.66%;
	} 
	.col-s-9 {
		width: 75%;
	} 
	.col-s-10 {
		width: 83.33%;
	} 
	.col-s-11 {
		width: 91.66%;
	} 
	.col-s-12 {
		width: 100%;
	} 
		
} 
/*---------------------------------------------*/
@media (min-width: 768px) {
	 
	 /* For desktop: */
	.promo img {
		width: 100%;
		height: auto;
	}
	.mask p {
		width: 100%;
		visibility: visible;
		color:  black;
		top: 220px;
		font-size: 1.2em;
		position: absolute;
	}
	.mask a {
		cursor: default;	
	}
	/*------- gallery------------*/
	.layer i.fa {
		background-color: rgba(255, 255, 255, 0.6);
		visibility: visible;
		font-size: 1.2em;
	}

	.layer {
		line-height: 60vh;
	}
	
	.col-m-1 {
		width: 8.33%;
	}
	.col-m-2 {
		width: 16.66%;
	}
	.col-m-3 {
		width: 25%;
	}
	.col-m-4 {
		width: 33.33%;
	}
	.col-m-5 {
		width: 41.66%;
	} 
	.col-m-6 {
		width: 50%;
	} 
	.col-m-7 {
		width: 58.33%;
	} 
	.col-m-8 {
		width: 66.66%;
	} 
	.col-m-9 {
		width: 75%;
	} 
	.col-m-10 {
		width: 83.33%;
	} 
	.col-m-11 {
		width: 91.66%;
	}
	.col-m-12 {
		width: 100%;
	} 
}
/*-----------------------------------------------*/
@media (min-width: 900px) {
  
	.mask p {
		color: rgba(255, 255, 255, 0.1);
		visibility: hidden;
		font-size: 1.5em;
		line-height: 200px;
		transition: ease-in-out 0.5s;
		width: 200px;
		height: 200px;
		border-radius: 50%;
		position: absolute;
		margin: 0 auto;
		font-weight: 300;
		top:0;
		cursor: pointer;
	}
   
    .mask:hover p {
		visibility: visible;
		color: rgba(255, 255, 255, 1);
		background-color: rgba(0, 0, 0, 0.8);
	}
	
	.layer i.fa {
		color: black;
		background-color: white;
		visibility: hidden;
		font-size: 1.5em;
		padding: 20px;
		border-radius: 25%;
		transition: .1s;
	}
	
	.layer:hover i.fa {
		visibility: visible;
		transition: ease-out .3s;	
	}
	
	.layer:hover {
		background-color: rgba(0, 0, 0, 0.5);
	}
	
	.promo {
		padding-bottom: 20px;
	}
	
	.promo img {
		display: block;
		margin-top: 61px;
		margin-bottom: -61px;	
	}
	
	.col-1 {
		width: 8.33%;
	}
	
	.col-2 {
		width: 16.66%;
	}
	
	.col-3 {
		width: 25%;
	}
	
	.col-4 {
		width: 33.33%;
	}
	
	.col-5 {
		width: 41.66%;
	}
	
	.col-6 {
		width: 50%;
	}
	
	.col-7 {
		width: 58.33%;
	}
	
	.col-8 {
		width: 66.66%;
	}
	
	.col-9 {
		width: 75%;
	}
	
	.col-10 {
		width: 83.33%;
	}
	
	.col-11 {
		width: 91.66%;
	}
	
	.col-12 {
		width: 100%;
	}
   
	
}